.fmt-0{font-style:normal;font-weight:bold;color:#000000;font-size:25pt;}

.fmt-1{font-style:normal;font-weight:normal;color:#000000;font-size:10pt;}

.fmt-2{font-style:normal;font-weight:normal;color:#000000;font-size:8pt;}

.fmt-3{font-style:normal;font-weight:bold;color:#000000;font-size:8pt;}

.fmt-4{font-style:normal;font-weight:normal;color:#ffffff;font-size:7pt;}

.fmt-5{font-style:normal;font-weight:bold;color:#cc0033;font-size:18pt;}

.fmt-6{font-style:normal;font-weight:normal;color:#000000;font-size:6pt;}

