.fmt-0{font-style:normal;font-weight:bold;color:#000000;font-size:5pt;}

.fmt-1{font-style:normal;font-weight:normal;color:#000000;font-size:6.6pt;}

.fmt-2{font-style:normal;font-weight:normal;color:#000000;font-size:5pt;}

.fmt-3{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

.fmt-4{font-style:italic;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-5{font-style:italic;font-weight:bold;color:#000000;font-size:5pt;}

.fmt-6{font-style:normal;font-weight:bold;color:#000000;font-size:6pt;}

.fmt-7{font-style:normal;font-weight:normal;color:#000000;font-size:5pt;}

.fmt-8{font-style:italic;font-weight:normal;color:#000000;font-size:5pt;}

.fmt-9{font-style:italic;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-10{font-style:italic;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-11{font-style:normal;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-12{font-style:normal;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-13{font-style:italic;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-14{font-style:normal;font-weight:normal;color:#000000;font-size:5pt;}

.fmt-15{font-style:normal;font-weight:bold;color:#000000;font-size:8pt;}

.fmt-16{font-style:normal;font-weight:normal;color:#000000;font-size:4pt;}

.fmt-17{font-style:normal;font-weight:bold;color:#000000;font-size:7.6pt;}

.fmt-18{font-style:normal;font-weight:bold;color:#000000;font-size:5pt;}

.fmt-19{font-style:italic;font-weight:normal;color:#000000;font-size:4.6pt;}

.fmt-20{font-style:normal;font-weight:bold;color:#000000;font-size:4.6pt;}

.fmt-21{font-style:normal;font-weight:bold;color:#000000;font-size:6pt;}

.fmt-22{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

.fmt-23{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

.fmt-24{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

.fmt-25{font-style:normal;font-weight:bold;color:#000000;font-size:7.6pt;}

.fmt-26{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

.fmt-27{font-style:normal;font-weight:bold;color:#000000;font-size:7pt;}

.fmt-28{font-style:normal;font-weight:bold;color:#000000;font-size:6.6pt;}

